{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>eMeals testi</h1>
    <p>Tervetuloa eMeals -ateriatietokantaan. eMeals sisältää ruokareseptit aterioittain ja raaka-aineittain.</p>
</div>
<p>
    <a href="{{base_path}}/list" class="btn btn-primary btn-lg">Selaa aterioita<span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<p>
    <a href="{{base_path}}/chefs/chefindex" class="btn btn-primary btn-lg">Selaa kokkeja<span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<p>
    <a href="{{base_path}}/login" class="btn btn-primary btn-lg">Kirjaudu<span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<p>
    <a href="https://github.com/joonassaha1/Tsoha-Bootstrap/">Projekti Githubissa</a>
</p>
{% endblock %}
