{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän nn ateriat</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää ateria</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Aterian nimi</th>
        <th>Viimeisin muokkauspäivä</th>
        <th>Lisääjä</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Makaronilaatikko</a></td>
        <td>10.11.2017</td>
        <td>nn</td>
        <td><label class="label label-danger">ei hyvää</label></td>
        <td>9.11.2017</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}